body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button {
    width: 90px;
    height: 60px;
    font-size: 30px;
    background-color: green;
    color: honeydew;
    cursor: pointer;
}

button:hover {
    background-color: greenyellow;
    color: grey;
}

h2 {
    color: black;
    font-size: 45px;
    margin: 0;
}

h1 {
    font-size: 35px;
    color: green;
    margin-bottom: 30px;
}

h3 {
    margin-top: 30px;
}